
# Info / Documentation
!README.md


# Ignore everything by default
/*

# Allow these folders and their contents
!.gitignore
!frontend/
!frontend/**

!contracts/
!patches/
!patches/**

# Allow only selected contract files
!contracts/TEAToken.sol
!contracts/TokenAllocationnew.sol
!contracts/TokenVesting.sol
!contracts/WebAccessSBTV3.sol

# Explicitly ignore all other contract Solidity files
contracts/*.sol

# Ignore contract build artifacts and cache
contracts/artifacts/
contracts/cache/
contracts/test/
scripts/cache/

# Node modules
node_modules/
**/node_modules/

# Frontend build and cache
frontend/.next/

# Optional lock files
package-lock.json
frontend/package-lock.json
contracts/package-lock.json

# Environment files
.env
.env.local
.env.*.local

# OS and editor files
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


